/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-hex: #000000;
  --background-hex: #cdf4ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.centerdiv {
  margin: auto;
  width: 50%;
  min-width: 100px;
  border: solid;
  border-color: white;
  text-align: center;
}

input[type=text], input[type=number] {
  color:black;
  border-radius: 25px;
}

button, input[type=submit] {
  background-color: #2dc0da;
  border-radius: 25px;
  border: solid;
  border-color: #004aad;
  padding: 5px 10px;
  cursor: pointer;
  color: #004aad;
}

/* input:invalid {
  border: 1px solid palevioletred;
}

input:valid {
  border: 1px solid aquamarine;
} */